.blogTopContainer {
  margin-top: 200px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.blogContainer {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.article-contents p {
  font-size: 1.1rem;
  line-height: 2rem;
}

.about-blog {
  margin-bottom: 5rem;
}

.about-blog h1 {
  text-align: center;
  margin-bottom: 5rem;
}

a {
  text-decoration: none;
  color: black;
}

/* ブログ一覧の表記 */

.article-list {
  margin-bottom: 70px;
}

.article {
  cursor: pointer;
  background-color: #f5f5f5;
  margin: 0 0 3rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 10px;
  transition: all 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 1px 5px rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.article:hover {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.article-title {
  font-size: 1.4rem;
  color: #424242;
  font-weight: 700;
}

/* 各ブログ記事ページについて */
.article-top {
  display: flex;
  justify-content: flex-end;
}

.backlink {
  margin-bottom: 10%;
}

.article-contents .article-title {
  font-size: 3rem;
  font: 550;
  margin-bottom: 0;
}
