@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: "Noto Sans JP", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.App {
  width: 100%;
  height: 100vh;
  font-size: 16px;
}

header {
  align-items: center;
  background-color: white;
  color: #555;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 120px;
  opacity: 0.8;
}

.title-logo {
  text-decoration: none;
  color: #555;
}

.header-height {
  height: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  display: inline-block;
}

header .logo h3 {
  font-size: 30px;
}

nav ul {
  margin: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  color: #555;
  text-decoration: none;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: rgb(29, 131, 29);
}

.topContainer {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 900px;
}

/* HomePage */
.home-content {
  margin-top: 120px;
  height: calc(100vh - 120px);
}

.homepage-bg {
  margin-top: 120px;
  background-image: url("/public/img/topbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5%;
}

/* About me */
.about-me {
  position: relative;
}

.sec-title {
  font-size: 120px;
  font-weight: 600;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 20px;
}

.sub-sec-title {
  display: inline-block;
  position: relative;
}

.sub-sec-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  height: 1px;
  background-color: black;
}

.halfup {
  transform: translate(0, -30%);
}

.about-me .container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.about-me-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  height: 100%;
}

.about-me .img-container {
  width: 400px;
  height: 300px;
  background-image: url("/public/img/profimg.jpg");
  background-size: cover;
  z-index: -10;
  transform: translate(-30%, 35%);
}

.about-me-bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.about-me-desc {
  width: 50%;
  transform: translateY(-20%);
}

.viewmore {
  align-self: flex-end;
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  padding: 8px 40px;
  cursor: pointer;
}

/* skills */

.works-title .skill-title {
  margin-bottom: 0;
}

.works-title p {
  margin-top: 0;
  line-height: 10px;
}

.skill-grid {
  display: grid;
  gap: 80px;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
  margin-top: 30px;
  max-width: 900px; /* 追加 */
  margin-left: auto; /* 追加 */
  margin-right: auto; /* 追加 */
}

.skill-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*モーダルのスクロール*/
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.skill-item.active {
  opacity: 1;
  transform: translateY(0);
}

.skill-grid .skill-item img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all 0.3s;
}

/* strength */
.strength {
  position: relative;
}

.strength-top {
  position: relative;
  margin-top: 30px;
}

.strength-title {
  font-size: 120px;
  font-weight: 500;
  letter-spacing: 5px;
  margin-top: 0;
  margin-bottom: 100px;
}

.strength-sub-title::after {
  content: "";
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}

.strengthImg {
  width: 400px;
  height: 100%;
}

.strength-container {
  display: flex;
  margin-bottom: 30px;
}

.strength-container:nth-child(2) {
  flex-direction: row-reverse;
}

.strength-desc-container {
  margin: 0px 25px 25px 30px;
}

.strength-desc-container h3 {
  margin-top: 0;
}

.strength-desc-container p {
  font-size: 14px;
  line-height: 1.5rem;
}

/* Works */
.works {
  background-color: rgba(171, 169, 169, 0.469);
  padding-bottom: 30px;
}
.works .container {
  max-width: 900px;
}

.works-title {
  text-align: center;
}

.works-title h2 {
  display: inline-block;
  position: relative;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 4px;
}

.works-title h2::after {
  content: "";
  position: absolute;
  left: 3%;
  bottom: 18%;
  width: 90%;
  height: 1px;
  background-color: black;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 30px;
  max-width: 900px; /* 追加 */
  margin-left: auto; /* 追加 */
  margin-right: auto; /* 追加 */
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*モーダルのスクロール*/
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.item.active {
  opacity: 1;
  transform: translateY(0);
}
/*モーダルスクロールここまで*/

.modal-open {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.grid .item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}

.grid .item img:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 7px 4px rgba(0, 0, 0, 0.2);
}

/* Contact.jsx */
.uiForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField,
label {
  margin-top: 20px;
  /* color: black; */
}

.formField input {
  border: 1px solid black;
  padding: 10px 0 10px 5px;
}

.submitButton {
  margin-top: 20px;
}

.submitButton {
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: none;
  padding: 5px 28px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.submitButton:hover {
  background-color: #2bbbad;
}

.errorMsg {
  color: red;
  font-size: 12px;
  margin: 0;
  align-self: flex-start;
}

.msgOk {
  color: green;
  margin-top: 15px;
}

/* footer */
#footer {
  display: flex;
  background-color: black;
  color: white;
  height: 50px;
  align-items: center;
  justify-content: center;
}

#footer p {
  margin: 0;
  font-size: 12px;
}

#footer {
  width: 100%;
}

/* 大きいタブレットサイズ */
@media (max-width: 1024px) {
  .about-me .img-container {
    background-position: 80%;
  }

  .skill-grid {
    gap: 50px;
  }

  .strengthImg {
    width: 300px;
    height: 100%;
  }
}

/* 大体タブレットサイズ */
@media (max-width: 768px) {
  /* skill */
  .skill-grid {
    gap: 40px;
  }

  /* strength */

  .strength-container {
    /* flex-direction: column; */
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .strength-container:nth-child(2) {
    /* flex-direction: column; */
  }

  .strength-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px 25px 15px;
  }

  .strengthImg {
    width: 200px;
    height: 100%;
  }
}

/* 大体スマホサイズ */
@media (max-width: 640px) {
  header {
    height: 150px;
  }

  header .flex {
    display: block;
    justify-content: center;
  }

  .logo {
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
    text-align: center;
  }

  .home-content {
    margin-top: 150px;
  }

  .container {
    width: 90%;
  }

  .homepage-bg {
    margin-top: 120px;
    margin-left: 0%;
  }

  /* about me */
  .about-me .container {
    display: flex;
    flex-direction: column;
  }

  .sec-title {
    flex: 1;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 5px;
  }

  .sub-sec-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 1px;
    background-color: black;
  }

  .about-me-top {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    margin-top: 30px;
  }

  .about-me .img-container {
    flex: 1;
    transform: none;
    width: 100%;
    height: 200px;
    background-position: right;
  }

  .about-me-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-me-desc {
    width: 100%;
    transform: none;
  }

  .viewmore {
    align-self: auto;
    margin: 0 auto;
  }

  /* skills */
  .skills .container .works-title {
    margin-bottom: 70px;
  }

  .skill-grid {
    display: grid;
    gap: 30px;
  }

  /* strength */

  .strength-title {
    font-size: 60px;
    margin-bottom: 50px;
  }

  .strength-title::after {
    left: 0;
    top: 2.8%;
  }

  .strength-container {
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }

  .strength-container:nth-child(2) {
    flex-direction: column;
  }

  .strength-desc-container {
    margin: 0;
  }

  .strengthImg {
    width: 300px;
    height: 100%;
  }

  /* Contact */

  .submitButton {
    margin-top: 10px;
  }

  /* チャート */
  .chart {
    flex-direction: column;
  }
}
